Required python modules:
Module: InquirerPy
Module: Pillow
Module: argostranslate
Module: chardet
Module: chromadb
Module: python-docx
Module: html2text
Module: huggingface_hub
Module: json5
Module: keybert
Module: langchain_chroma
Module: langchain_core
Module: langchain_huggingface
Module: langchain_text_splitters
Module: langdetect
Module: matplotlib
Module: nltk
Module: numpy
Module: openpyxl
Module: pandas
Module: pdf2image
Module: pdfminer.six
Module: python-pptx
Module: pyreadline3
Module: pytesseract
Module: rich
Module: sentence_transformers
Module: stanza
Module: torch
Module: transformers
Module: pywin32
Module: xlsxwriter
Module: pytest
Module: sentencepiece>=0.2.1
