argostranslate
chardet
charset_normalizer
chromadb
colorama
fastapi
html2text
huggingface_hub
InquirerPy
json5
keybert
langchain_chroma
langchain_core
langchain_huggingface
langchain_text_splitters
langdetect
matplotlib
nltk
numpy
openpyxl
pandas
pdf2image
pdfminer.six
Pillow
prompt_toolkit
pydantic
pytesseract
pytest
python-docx
python-pptx
pywin32
requests
rich
sentence_transformers
sentencepiece>=0.2.1
stanza
torch
transformers
uvicorn
wcwidth
xlsxwriter
