Required python modules:
Module: InquirerPy
Module: Pillow
Module: argostranslate
Module: chardet
Module: charset_normalizer
Module: chromadb
Module: colorama
Module: cryptography
Module: python-docx
Module: fastapi
Module: html2text
Module: huggingface_hub
Module: json5
Module: keybert
Module: langchain_core
Module: langchain_huggingface
Module: langchain_text_splitters
Module: langdetect
Module: lingua
Module: lxml
Module: nltk
Module: numpy
Module: openpyxl
Module: pandas
Module: pdf2image
Module: pdfminer.six
Module: pdfplumber
Module: python-pptx
Module: prompt_toolkit
Module: pydantic
Module: pypdf
Module: pytesseract
Module: requests
Module: rich
Module: sentence_transformers
Module: spacy
Module: stanza
Module: starlette
Module: torch
Module: transformers
Module: uvicorn
Module: wcwidth
Module: pywin32
Module: xlsxwriter
