argostranslate
chardet
charset_normalizer
chromadb
colorama
cryptography
ddgs
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
fastapi
graphviz
html2text
huggingface_hub
InquirerPy
json5
keybert
langchain-chroma
langchain_core
langchain_huggingface
langchain_text_splitters
langdetect
lingua
lxml
nltk
numpy
openpyxl
pandas
pdf2image
pdfminer.six
pdfplumber
Pillow
prompt_toolkit
pydantic
pypdf
pytesseract
pytest
python-docx
python-pptx
pywin32; sys_platform == "win32"
requests
rich
sentence_transformers
sentencepiece>=0.2.1
spacy
stanza
starlette
torch
transformers
uvicorn
wcwidth
xlsxwriter
